<!DOCTYPE html>
<html>
<head>
  <title>Circle CI Wall</title>
  <link href="style.css" media="all" rel="stylesheet" type="text/css" />
</head>
<body>

<% if @error %>
  <%= @error %>
<% else %>
  <% {master: @branches['master'], develop: @branches['develop'] }.each do |branch_name,branch_info| %>
    <% next unless branch_info %>
  <% end %>

  <% @branches.tap{|b|b.delete('develop'); b.delete('master')}.each do |branch_name,branch_info| %>
    <% next unless branch_info %>
    <%= erb :_branch, {}, :branch_info => branch_info, :branch_name => branch_name %>
  <% end %>
<% end %>
</body>
</html>