<!DOCTYPE html>
<html>
<head>
  <title>Circle CI Wall</title>
  <link href="style.css" media="all" rel="stylesheet" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
</head>
<body>

<% if @error %>
  <%= @error %>
<% else %>
  <% @branches.each do |branch_name,branch_info| %>
    <% next unless branch_info %>
    <%= erb :_branch, {}, :branch_info => branch_info, :branch_name => branch_name %>
  <% end %>
<% end %>
<script type="text/javascript">

  var increase_bar = function() {
    $("div.running").each(function() {
      var value = parseInt($(this).attr("data-value"), 10) + 1;
      var percent = 100 - (parseInt((value * 100) / <%= @max_time.to_i %>) + 1);
      if(value <= <%= @max_time.to_i %>) {
        $(".branch-previous",$(this)).css("width","" + percent + "%");
      } else {
        $(this).addClass("done").removeClass("running");
      }
    });
  }
  setInterval(function() {
    // refresh list
    increase_bar();
  }, 1000)
</script>
</body>
</html>